@media only screen and (min-width: 900px) {
* {
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}
header {
  display: block;
    position: relative;
    top: -12px;
    text-shadow: 1rem white;
    width: 105%;
    font-family: 'VT323', sans-serif;
}

.flickity-page-dots {
  display: none;
}

.flickity-button {
  display: none;
}


#shop, #about, #contact {
  position: absolute;
  top: 1rem;
  display: flex;
  width: 3rem;
  z-index: 3;
  padding: 0%;
  text-shadow: 1px 1px 0 #ffe600,
  3px 3px 0 #260101,
  4px 4px 0 #fcd855;
  text-decoration: none;
  letter-spacing: .5rem;
  margin: auto;
}

#contact{
  display: flex;
  width: 3rem;
  margin: 0 12%;
  position: absolute;
}

#about {
  display: flex;
  width: 3rem;
  padding: 0 29%;
  position: absolute;
}

#shop:hover, #about:hover, #contact:hover {
  transform: scale(1.1);
  transition: ease-in-out 500ms;
}

.header {
        margin: 0 -1rem;
        height: 8rem;
        background-color: #260101;
        position: relative;
    }
    .circ {
        background-color: #260101;
    height: 14rem;
    width: 14rem;
    margin: -1rem auto;
    top: 0px;
    border-radius: 10rem;
    }

    .logo {
        width: 10.8rem;
        margin: 1.5rem;
    }

    .icons {
      display: flex;
      position: relative;
      padding: 0 6rem;
      float: right;
      margin: -13rem 0rem;
}

#menu {
  display: none;
}

.tiktok {
  padding: 0 1rem;
    width: 5rem;
    margin-top: .2rem;
}
.tiktok:hover {
  transform: scale(1.1);
transition: ease-in-out 500ms;
} 
.insta, .fb, .yt {
    padding: 0 .5rem;
    width: 6rem;
    margin-top: -.1rem;
}

.yt {
transform: scale(.13);
position: relative;
top: -13.8rem;
right: 1rem;
}

.yt:hover {
  transform: scale(.2);
  transition: ease-in-out 500ms;
}
.insta:hover, .fb:hover {

  transform: scale(1.1);
  transition: ease-in-out 500ms;
  
}

    header {
        display: block;
          position: sticky;
          text-shadow: 1rem white;
          width: 105%;
          height: 5rem;
          font-family: 'VT323', sans-serif;
      }
.hamburger {
    display: none;
}


    .abt-title, .cutnrun, .store {
    font-size: rem;
    text-shadow: 1px 1px 0 #d92929,
    3px 3px 0 #260101,
    4px 4px 0 #d50000;
    color: #fff0a0;
    background-color: #260101;
    border-radius: 2rem;
    margin: 8rem;
    padding: .5rem;
    padding-left: 1rem;
}

.icons {
    position: relative;
}

#shop, #about, #contact {
  position: absolute;
  top: 1rem;
  display: flex;
  width: 3rem;
  z-index: 3;
  padding: 0%;
  text-shadow: 1px 1px 0 #ffe600,
  3px 3px 0 #260101,
  4px 4px 0 #fcd855;
  text-decoration: none;
  letter-spacing: .5rem;
  margin: auto;
}

#about {
  display: flex;
  width: 3rem;
  padding: 0 29%;
  position: absolute;
}


#contact{
  display: flex;
  width: 3rem;
  margin: 0 12%;
  position: absolute;
}

.checkbox-icon1, .checkbox-icon2, .checkbox-icon3 {
    display: flex;
    position: relative;
    width: 1.5rem;
    top: 8rem;
    height: 1.5rem;
    border: solid #2a0707;
    border-width: 0 .4rem .4rem 0;
    transform: rotate(-45deg);
}


  
  #toggle-input1, #toggle-input2, #toggle-input3 {
    position: relative;
    left: -9999rem;
  }


  #about-txt, #mission, .store-txt {
    position: relative;
    opacity: 0;
    font-size: 2rem;
    z-index: 3;
    margin: 2rem;
}

#about-txt {
  top: 13rem;
  left: 3rem;
}


  #toggle-input1:checked ~ #about-txt, #toggle-input2:checked ~ #mission, #toggle-input3:checked ~ .store-txt {
    z-index: 5;
   animation: fade .5s both;
    text-align: center;   
    text-shadow: 1px 1px 0 #da0c0c,
    3px 3px 0 #800707,
    4px 4px 0 #502f0c;
    color: #ffec88;
    opacity: 1;
    font-size: 2rem;
    line-height: 3rem;
    top: 9rem;
    left: 8rem;
    width: 80%;
    z-index: 3;
    min-height: 10rem;
    background-color: #260101;
    padding: 2rem;
    border-radius: 2rem;
  }

  #toggle-input3:checked ~ .store-txt {
    top: 13rem;
  }

  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }}
  
 #toggle-input1:checked + .checkbox-icon1, #toggle-input2:checked + .checkbox-icon2, #toggle-input3:checked + .checkbox-icon3  {
    animation: rotate 1s both cubic-bezier(0.215, 0.610, 0.355, 1);
  }

  @keyframes rotate {
    0%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(45deg);
    }
  }
  
  label {
    cursor: pointer;
  }

  .foot {
    display: flex;
    position: relative;
    max-width: 125%;
    padding-bottom: 2rem;
    top: 7rem;
    margin: -1rem;
    left: -1rem;
    height: 10rem;
    background: #260101;
    overflow: hidden;
  }
  
  .logo-foot {
    position: relative;
    transform: scale(.5);
    margin: -2rem;
  }

  .copy {
    text-shadow: 1px 1px 0 #da0c0c,
    3px 3px 0 #800707,
    4px 4px 0 #502f0c;
    color: #fff7ab;
    font-size: 2rem;
    margin: 8rem 2rem;
    top: 2rem;
  }

  .icons-foot {
    position: relative;
    top: 5rem;
    margin: auto;
    display: flex;
  }
  
}

@media only screen and (max-width: 1000px) {


      #shop + #about {
        z-index: 3;
        text-shadow: 1px 1px 0 #ffe600,
        3px 3px 0 #260101,
        4px 4px 0 #fcd855;
        text-decoration: none;
        letter-spacing: .5rem;
        font-size: 2rem;
        display: flex;
        position: relative;
        flex-direction: column;
        flex-flow: column;
        right: 5rem;
        padding: 0 1rem;
      
    }
      .nav {
        display: none;
      }
    
      .nav.active{
        font-size: 3rem;
        display: flex;
        width: 10rem;
        text-decoration: none;
        transition: 3s ease-in-out;
        position: relative;
        animation: fadeIn 1s ease-in;
      }
    


    @keyframes fadeIn {
    from{  opacity: 0;}
    
    to{opacity: 100%}
    }
    
    .logo {
      position: absolute;
      display: inline;
      width: 10.8rem;
      margin: 1.5rem;
      z-index: 14;
    }
    
    .icons {
      display: flex;
      position: relative;
      flex-direction: row;
      transform: scale(1.2);
      margin: auto -8rem;
    }

#links {
    z-index: 800;
    height: 30rem;
    padding: 5rem; 
    right: -7%;
    border-radius: 2rem; 
    background-color: #2a0707;
    width: 64%;
    top: -12rem;
  }  
  
  .burger{ 
    position: relative;
    display: flex;
    float: inline-end;
    margin: -12rem -2rem 0 4rem;
    width: 9rem;
    z-index: 900;
    height: 4rem; 
    flex-direction: column;
    justify-content: space-evenly;
    transition: all 0.3s ease-in-out;
  }
  
  .line1 {
    z-index: 500;
    height: .2rem;
    width: 3rem;
    background-color: #FFA800;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
    margin: .1rem 0 ;
  }   
  .line2 {
    z-index: 00;
    height: .2rem;
    width: 3rem;
    background-color: #FFA800;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
    margin: .1rem 0 ;
  
  }    
  .line3 {        
    z-index: 500;
    height: .2rem;
    width: 3rem;
    background-color: #FFA800;
    border-radius: 2rem;
    transition: all 0.3s ease-in-out;
    margin: .1rem 0;
  
  } 
  
  .burger.active .line1 {
    transform: translateY(.3rem) rotate(47deg);
    background-color: #FFA800;
    z-index: 10;
    cursor: pointer;
    width: 3rem;
    border-radius: 2rem;
    transition: 1s cubic-bezier(.68,-0.55,.27,1.55);
    position: sticky;
    margin: -.3rem 0;
  
  }
  .burger.active .line2 {
    opacity: 0%;
    visibility: hidden;
    display: none;
    z-index: 0;
  }
  
  .burger.active .line3 {
    transform: translateY(-.3rem) rotate(-47deg);
    transition: 1s cubic-bezier(.68,-0.55,.27,1.55);
    opacity: 100%;
    cursor: pointer;
    display: flex;
    border-radius: 2rem;
    z-index: 10;
    background-color: #FFA800;
    width: 2.8rem;
    height: 0.2rem;
    position: sticky;
    margin: .1rem 0;
  }

  .checkbox-icon1 , .checkbox-icon2 , .checkbox-icon3 {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: solid #260101;
    border-width: 0 .4rem .4rem 0;
    position: relative;
    top: -11.5rem;
    transform: rotate(-45deg);
    margin: .5rem 1rem;
}

  #toggle-input1, #toggle-input2, #toggle-input3 {
    position: absolute;
    left: -9999rem;
  }

  #toggle-input1:checked + .checkbox-icon1, #toggle-input2:checked + .checkbox-icon2, #toggle-input3:checked + .checkbox-icon3  {
    animation: rotate 1s both cubic-bezier(0.215, 0.610, 0.355, 1);
  }

.abt-title, .cutnrun, .store {
  font-size: 2.6rem;
  top: 2rem;
  text-shadow: 1px 1px 0 #d92929,
  3px 3px 0 #260101,
  4px 4px 0 #d50000;
  color: #fff0a0;
  background-color: #260101;
  border-radius: 2rem;
  margin: 8rem 4rem;
  padding: .5rem;
  width: 60%;
  padding-left: 1rem;
}

  #about-txt, #mission, .store-txt {
    opacity: 0;
    text-align: center;
    z-index: 3;
}

      #toggle-input1:checked ~ #about-txt, #toggle-input2:checked ~ #mission, #toggle-input3:checked ~ .store-txt {
    z-index: 5;
    animation: fade .5s both;
    text-align: center;   
    text-shadow: 1px 1px 0 #da0c0c,
    3px 3px 0 #800707,
    4px 4px 0 #502f0c;
    color: #ffec88;
    opacity: 1;
    position: relative;
    margin: -7rem 5rem;
    font-size: 1.9rem;
    line-height: 2.5rem;
    width: 55%;
    z-index: 3;
    background-color: #260101;
    padding: 2rem;
    border-radius: 2rem;
  }
  
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }}

  @keyframes rotate {
    0%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(45deg);
    }
  }
  
  label {
    cursor: pointer;
  }

  .foot {
  display: flex;
  position: relative;
  max-width: 115%;
  padding-bottom: 2rem;
  top: 7rem;
  margin: -1rem;
  left: -1rem;
  height: 10rem;
  background: #260101;
  overflow: hidden;
  }
  
  .logo-foot {
    left: 1rem;
    position: absolute;
    top: 0rem;
    transform: scale(.6);
  }

  .copy {
    display: flex;
    position: absolute;
    text-shadow: 1px 1px 0 #da0c0c,
    3px 3px 0 #800707,
    4px 4px 0 #502f0c;
    color: #fff7ab;
    padding: .4rem;
    font-size: 1.4rem;
    margin: 9rem 10rem;
    text-align: center;
    width: 50%
  }

  .icons-foot {
    position: absolute;
    display: flex;
    right: 9rem;
    transform: scale(.5);
  }

}