@media only screen and (max-width: 2090px) {
header {
  display: block;
    position: sticky;
    top: -12px;
    text-shadow: 1rem white;
    width: 105%;
    font-family: 'VT323', sans-serif;
}

.flickity-page-dots {
  display: none;
}

.flickity-button {
  display: none;
}

.carousel-cell {
  width: 50%;
  transform: translateY(5%);

}

#contact {
  position: absolute;
  display: flex;
  width: 3rem;
  top: 3rem;
  z-index: 3;
  padding: 0 2.5%;
  text-shadow: 1px 1px 0 #ffe600,
  3px 3px 0 #260101,
  4px 4px 0 #fcd855;
  text-decoration: none;
  letter-spacing: .5rem;
  transform: scale(.9);
  margin: 0 -2rem;
}

#about {
  display: flex;
  width: 3rem;
  transform: scale(.9);
  padding: 0 8%;
  top: 3rem;
  position: absolute;
  margin: 0 8rem;
}

#contact:hover, #about:hover {
  transform: scale(1.1);
  transition: ease-in-out 500ms;
}

.header {
        margin: 0 -1rem;
        height: 8rem;
        background-color: #260101;
        position: relative;
    }
    .circ {
        background-color: #260101;
    height: 14rem;
    width: 14rem;
    margin: -1rem auto;
    top: 0px;
    border-radius: 10rem;
    }

    .logo {
        width: 10.8rem;
        margin: 1.5rem;
    }

    .icons {
      display: contents;
      float: right;
      padding: 0 6rem;
      width: 10rem;
      margin: -13rem 10rem;
    display: flex;
}

#menu {
  display: none;
}

.tiktok {
  padding: 0 1rem;
    width: 5rem;
    margin-top: .2rem;
}
.tiktok:hover {
  padding: 0 1rem;
  transform: scale(1.1);
transition: ease-in-out 500ms;
} 
.insta, .fb {
  padding: 0 1rem;

    width: 6rem;
    margin-top: -.1rem;
}
.insta:hover, .fb:hover {

  transform: scale(1.1);
  transition: ease-in-out 500ms;
  
}
body {
    font-family: 'VT323',sans-serif;
    background-color: #D0C192;
}

.main-carousel {
  width: 115%;
  margin: -2rem -3em;
  flex-wrap: wrap;
  justify-content: center;
}

.carousel-cell {
  justify-content: center;
  display: flex;
  position: relative;
  margin: auto;
}

#trading {
  position: relative;
  border-radius: 5rem;
  justify-content: center;
  top: 8rem;
  width: 25rem;
  height: 30rem;
  margin: 0 4.5rem;
  box-shadow: -10px 2rem 2.5rem .5rem #270c0ca6;
}
#trading:hover {
  position: relative;
  box-shadow: -10px 2rem 2.5rem .5rem #270c0ca6;
  transform: scale(1.1);
  transition: ease-in-out 1s;
}

#comics {
  border-radius: 5rem;
  position: relative;
  margin: 7rem 8rem;
  width: 24rem;
  height: 30rem; 
  box-shadow: -10px 2rem 2.5rem .5rem #270c0ca6;  
}

#comics:hover {
  border-radius: 5rem;
  position: relative;
  box-shadow: -10px 2rem 2.5rem .5rem #270c0ca6;  
  transform: scale(1.1);
  transition: ease-in-out 1s;
}

#funkos {
  border-radius: 5rem;
  box-shadow: -10px 2rem 2.5rem .5rem #270c0ca6;
  position: relative;
    width: 30rem;
    margin: 0 1rem;
    height: 30rem;
  top: 8rem;
  }

  #funkos:hover {
    border-radius: 5rem;
    box-shadow: -10px 2rem 2.5rem .5rem #270c0ca6;
    position: relative;
    transform: scale(1.1);
    transition: ease-in-out 1s;
    }
  
  a > h1 {
    position: absolute;
    text-transform: capitalize;
    z-index: 3;
    text-shadow: 1px 1px 0 #ffe600,
    3px 3px 0 #260101,
    4px 4px 0 #fcd855;
    text-decoration: none;
    letter-spacing: .5rem;
    font-size: 2.5rem;
  }

.Funko-Title {
  text-align: center;
  font-size: 2rem;
  margin: 11rem;
  width: fit-content;
  justify-content: center;
  padding: 0 2rem;
}


.Comics-Title {
  position: relative;
  justify-content: center;
  text-align: center;
margin: 3rem;
  left: 1rem;  
  bottom: 5rem;
  font-size: 2rem;
}

.TradingCards-Title {
  margin: 12rem 10rem;
  font-size: 2rem;
  position: relative;
  text-align: center;
  justify-content: center;
  left: 2rem;
}

}


@media screen and (max-width: 900px) {
  html {
    overflow: hidden;
  }
 
  #contact, #about {
    z-index: 3;
    text-shadow: 1px 1px 0 #ffe600,
    3px 3px 0 #260101,
    4px 4px 0 #fcd855;
    text-decoration: none;
    letter-spacing: .5rem;
    font-size: 2rem;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-flow: column;
    right: 5rem;
    padding: 0 1rem;
  
}
  .nav {
    display: none;
  }

  .nav.active{
    font-size: 3rem;
    display: flex;
    width: 10rem;
    text-decoration: none;
    transition: 3s ease-in-out;
    position: relative;
    animation: fadeIn 1s ease-in;
  }

@keyframes fadeIn {
from{  opacity: 0;}

to{opacity: 100%}
}

.logo {
  position: absolute;
  display: inline;
  width: 10.8rem;
  margin: 1.5rem;
  z-index: 14;
}

.icons {
  display: flex;
  position: relative;
  flex-direction: row;
  transform: scale(1.2);
  margin: auto -8rem;
}

body {
  font-family: 'VT323',sans-serif;
  background-color: #D0C192;
}

.main-carousel  {
  width: 110%;
  height: 110%;
}

.carousel-cell {
display: flex;
position: relative;
width: 60%;
}

#trading {
position: relative;
border-radius: 5rem;
height: 30rem;
top: 6rem;
width: 22rem;
margin: 0 -1rem;
box-shadow: -10px 2rem 2.5rem .5rem #270c0ca6;
}

#comics {
  display: flex;
  justify-content: center;
  border-radius: 5rem;
  position: relative;
  top: -2rem;
  right: -3rem;
  width: 22rem;
  height: 30rem; 
  box-shadow: -10px 2rem 2.5rem .5rem #270c0ca6;  
}

#funkos {
  border-radius: 5rem;
  box-shadow: -10px 2rem 2.5rem .5rem #270c0ca6;
  position: relative;
    width: 25rem;
    height: 30rem;
    margin: 1.7rem;
  top: 4em;
  }


.header {
  width: 110%;
  left: -1rem;
  height: 7rem;
  background-color: #260101;
  margin-bottom: 3rem;
  position: relative;
}
.circ {
  display: flex;
  position: relative;

  background-color: #260101;
height: 14rem;
width: 14rem;
margin: -1rem auto;
border-radius: 10rem;
z-index: 35;
transform: scale(.9);
}

#links {
  z-index: 800;
  height: 30rem;
  padding: 5rem; 
  right: -7%;
  border-radius: 2rem; 
  background-color: #2a0707;
  width: 64%;
  top: -12rem;
}  

.burger{ 
  position: relative;
  display: flex;
  float: inline-end;
  margin: -12rem -2rem 0 4rem;
  width: 9rem;
  z-index: 900;
  height: 4rem; 
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 0.3s ease-in-out;
}

.line1 {
  z-index: 500;
  height: .2rem;
  width: 3rem;
  background-color: #FFA800;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  margin: .1rem 0 ;
}   
.line2 {
  z-index: 00;
  height: .2rem;
  width: 3rem;
  background-color: #FFA800;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  margin: .1rem 0 ;

}    
.line3 {        
  z-index: 500;
  height: .2rem;
  width: 3rem;
  background-color: #FFA800;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  margin: .1rem 0;

} 

.burger.active .line1 {
  transform: translateY(.3rem) rotate(47deg);
  background-color: #FFA800;
  z-index: 10;
  cursor: pointer;
  width: 3rem;
  border-radius: 2rem;
  transition: 1s cubic-bezier(.68,-0.55,.27,1.55);
  position: sticky;
  margin: -.3rem 0;

}
.burger.active .line2 {
  opacity: 0%;
  visibility: hidden;
  display: none;
  z-index: 0;
}

.burger.active .line3 {
  transform: translateY(-.3rem) rotate(-47deg);
  transition: 1s cubic-bezier(.68,-0.55,.27,1.55);
  opacity: 100%;
  cursor: pointer;
  display: flex;
  border-radius: 2rem;
  z-index: 10;
  background-color: #FFA800;
  width: 2.8rem;
  height: 0.2rem;
  position: sticky;
  margin: .1rem 0;

}

#section {
  display: contents;
  position: relative;
  text-align: center;
}

.Funko-Title {
  text-align: center;
  font-size: 2rem;
  margin: auto;
}


.Comics-Title {
  justify-content: space-around;
  margin: -4rem -9rem;
  text-align: center;
  font-size: 2.2rem;
}

.TradingCards-Title {
  font-size: 2rem;
  text-align: center;
  margin: 4rem -3rem;
}


}