@media only screen and (min-width: 1020px) {
html {
  overflow-x: hidden;
}
header {
  display: block;
    position: sticky;
    top: -12px;
    text-shadow: 1rem white;
    max-width: 115%;
    font-family: 'VT323', sans-serif;
}

.flickity-page-dots {
  display: none;
}

.flickity-button {
  display: none;
}


#contact {
  visibility: hidden;
}

#shop, #about {
  position: absolute;
  top: 1rem;
  display: flex;
  width: 3rem;
  z-index: 3;
  padding: 0 4.5%;
  text-shadow: 1px 1px 0 #ffe600,
  3px 3px 0 #260101,
  4px 4px 0 #fcd855;
  text-decoration: none;
  letter-spacing: .5rem;
  margin: auto;
}

#about {
  display: flex;
  width: 3rem;
  padding: 0 25%;
  position: absolute;
}

#shop:hover, #about:hover {
  transform: scale(1.1);
  transition: ease-in-out 500ms;
}

.header {
        margin: 0 -1rem;
        height: 8rem;
        background-color: #260101;
        position: relative;
    }
    .circ {
        background-color: #260101;
    height: 14rem;
    width: 14rem;
    margin: -1rem auto;
    top: 0px;
    border-radius: 10rem;
    }

    .logo {
        width: 10.8rem;
        margin: 1.5rem;
    }

    .icons {
      display: flex;
      position: relative;
      padding: 0 8rem;
      float: right;
      margin: -13rem -3rem;
}

#menu {
  display: none;
}

.tiktok {
  padding: 0 2rem;
    width: 5rem;
    margin-top: .2rem;
}
.tiktok:hover {
  transform: scale(1.1);
transition: ease-in-out 500ms;
} 
.insta, .fb {
  padding: 0 2rem;

    width: 6rem;
    margin-top: -.1rem;
}
.insta:hover, .fb:hover {

  transform: scale(1.1);
  transition: ease-in-out 500ms;
  
}
body {
    font-family: 'VT323',sans-serif;
    background-color: #D0C192;
}

.main-carousel {
  position: absolute;
  width: 200%;
  margin: 0 -40rem;
  align-items: center;
  justify-self: center;
  padding: 1rem;
}

.carousel-cell {
  display: flex;
  height: 100%;
}


#funkos {
  margin-left: 3rem;
}
#trading {

  margin: 0 3rem;
}
#trading, #comics, #funkos {
  position: relative;
  display: flex;
  border-radius: 5rem;
  transform: scale(.8);
  width: 25rem;
  height: 35rem;
  top: 3rem;
  box-shadow: -10px 2rem 2.5rem .5rem #270c0ca6;
}

.Comics-Title {
  right: -2rem;
}

.Funko-Title {
  left: 6rem;
}

.TradingCards-Title {
  left: 3rem;
}

  #funkos:hover, #trading:hover, #comics:hover {
    border-radius: 5rem;
    box-shadow: 1px 2px 6px 5px #d36600; 
    position: relative;
    transform: scale(.9);
    transition: ease-in-out .3s;
    }


  a > h1 {
    position: absolute;
    text-transform: capitalize;
    text-shadow: 1px 1px 0 #ffe600,
    3px 3px 0 #260101,
    4px 4px 0 #fcd855;
    letter-spacing: .5rem;
    font-size: 2.5rem;
  }

.Funko-Title, .Comics-Title, .TradingCards-Title {
  filter: brightness(1);
  font-size: 2.5rem;
  margin: 0 7rem;
  position: relative;
  text-shadow: 1px 1px 0 #ffe600,
  3px 3px 0 #260101,
  4px 4px 0 #fcd855;
}


.foot {
  display: flex;
  position: relative;
  width: 110%;
  padding-bottom: 2rem;
  top: 7rem;
  margin: -1rem;
  left: -1rem;
  height: 10rem;
  background: #260101;
  overflow: hidden;
}

.logo-foot {
  position: relative;
  top: -2rem;
  transform: scale(.5);
}

#copy {
  text-shadow: 1px 1px 0 #da0c0c,
  3px 3px 0 #800707,
  4px 4px 0 #502f0c;
  color: #fff7ab;
  font-size: 1.7rem;
  margin: 8rem 2rem;
  top: 2rem;
}

.icons-foot {
  position: relative;
  top: 2rem;
  margin: auto;
  display: flex;
}

}


@media screen and (max-width: 990px) {
  html {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
 
  #shop, #about, #contact {
    position: relative;
    z-index: 3;
    text-shadow: 1px 1px 0 #ffe600,
    3px 3px 0 #260101,
    4px 4px 0 #fcd855;
    text-decoration: none;
    letter-spacing: .5rem;
    font-size: 1rem;
    transform: scale(1.3);
    display: flex;
    flex-direction: column;
    right: 7rem;
margin: 1em;
    text-align: center;
    
    }
    
#contact {
  margin: 8rem -10rem;
  text-align: center;
  right: 19rem;
  font-size: 2rem;
}

#about {
  position: relative;
  margin: -6rem 0;
  right: 15rem;
}


  .nav {
    display: none;
    top: 4rem;
    position: relative;
    right: 2rem;
    align-content: end;
  }

  .nav.active{
    font-size: 4rem;
    display: flex;
    height: 15rem;
    text-decoration: none;
    transition: 3s ease-in-out;
    position: relative;
    animation: fadeIn 1s ease-in;
  }

@keyframes fadeIn {
from{  opacity: 0;}

to{opacity: 100%}
}

.logo {
  position: absolute;
  display: inline;
  width: 10.8rem;
  top: -1rem;
  margin: 1.5rem;
  z-index: 14;
}

.icons {
  visibility: hidden;
  /* display: flex;
  position: relative;
  flex-direction: column;
  transform: scale(1);
  top: 4rem;
  left: -3rem;
  justify-content: center;
  margin: auto; */
}

body {
  font-family: 'VT323',sans-serif;
  background-color: #D0C192;
}

.main-carousel {
  width: 100%;
  margin: auto;
}

.carousel-cell {
  display: inline-block;
  margin: 5rem 0;
}

#funkos {
  margin: 0 -3rem;
}

#trading, #comics, #funkos {
  width: 24rem;
  position: relative;
border-radius: 5rem;
height: 31rem;  
transform: scale(.8);
box-shadow: -10px 2rem 2.5rem .5rem #270c0ca6;
}


.header {
  width: 110%;
  left: -1rem;
  height: 7rem;
  background-color: #260101;
  margin-bottom: 3rem;
  position: relative;
}
.circ {
  display: flex;
  position: relative;
  align-items: center;
  background-color: #260101;
height: 14rem;
width: 14rem;
margin: -1rem auto;
border-radius: 10rem;
z-index: 35;
transform: scale(.9);
}

#links {
  z-index: 800;
  height: 30rem;
  padding: 5rem; 
  right: -7%;
  border-radius: 2rem; 
  background-color: #2a0707;
  width: 64%;
  top: -12rem;
}  

.flickity-page-dots {
  display: none;
}

.flickity-button {
  display: none;
}

.burger{ 
  position: relative;
  display: flex;
  float: right;
  margin: -12rem -1.5rem 0 -3rem;
  width: 9rem;
  z-index: 900;
  height: 4rem; 
  right: -1rem;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 0.3s ease-in-out;
}

.line1 {
  z-index: 500;
  height: .2rem;
  width: 3rem;
  background-color: #FFA800;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  margin: .1rem 0 ;
}   
.line2 {
  z-index: 00;
  height: .2rem;
  width: 3rem;
  background-color: #FFA800;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  margin: .1rem 0 ;

}    
.line3 {        
  z-index: 500;
  height: .2rem;
  width: 3rem;
  background-color: #FFA800;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
  margin: .1rem 0;

} 

.burger.active .line1 {
  transform: translateY(.3rem) rotate(47deg);
  background-color: #FFA800;
  z-index: 10;
  cursor: pointer;
  width: 3rem;
  border-radius: 2rem;
  transition: 1s cubic-bezier(.68,-0.55,.27,1.55);
  position: sticky;
  margin: -.3rem 0;

}
.burger.active .line2 {
  opacity: 0%;
  visibility: hidden;
  display: none;
  z-index: 0;
}

.burger.active .line3 {
  transform: translateY(-.3rem) rotate(-47deg);
  transition: 1s cubic-bezier(.68,-0.55,.27,1.55);
  opacity: 100%;
  cursor: pointer;
  display: flex;
  border-radius: 2rem;
  z-index: 10;
  background-color: #FFA800;
  width: 2.8rem;
  height: 0.2rem;
  position: sticky;
  margin: .1rem 0;

}


.Funko-Title, .Comics-Title,.TradingCards-Title {
  position: relative;
  font-size: 2.2rem;
  top: -7rem;
  margin: 0 9rem;
  text-shadow: 1px 1px 0 #ffe600,
  3px 3px 0 #260101,
  4px 4px 0 #fcd855;
}

.Funko-Title {
  text-align: center;
  margin: auto;
}

.TradingCards-Title {
  margin: .5rem;
  text-align: center;
}

.foot {
  display: flex;
  position: relative;
  width: 110%;
  padding-bottom: 2rem;
  top: 4rem;
  margin: -1rem;
  left: -1rem;
  height: 8rem;
  background: #260101;
  overflow: hidden;
}

.logo-foot {
  position: relative;
  top: -3rem;
  left: -1.4rem;
  transform: scale(.6);
}

#copy {
  position: absolute;
  text-shadow: 1px 1px 0 #da0c0c,
  3px 3px 0 #800707,
  4px 4px 0 #502f0c;
  color: #fff7ab;
  font-size: 1rem;
  margin: 8rem;
  right: -9rem;
  width: 15rem;

}

.icons-foot {
  position: relative;
  display: flex;
  flex-direction: row;
  transform: scale(.5);
  top: 1rem;
  left: -10rem;
}

}